<div class="panel panel-default">
  <div class="panel-heading">
    <button type="button" class="btn btn-success pull-right">
      Add Contact
    </button>
    <h4>Contacts</h4>
  </div>
  <div class="panel-body">
    <a
      href="#"
      class="list-group-item clearfix"
      *ngFor="let contact of contacts"
      ><div class="pull-left">
        <h4 class="list-group-item-heading">{{ contact.name }}</h4>
        <!-- <p class="list-group-item-text"></p> -->
      </div>
      <span class="pull-right">
        <img
          src="{{ contact.imageUrl }}"
          alt="{{ contact.name }}"
          class="img-responsive"
          style="max-width: 60px"
        />
      </span>
    </a>
  </div>
</div>
